:root {
    /* --dark-theme-main-color: rgb(33, 11, 44);

    --light-theme-main-color: rgb(235, 227, 220); */

    --main-color: rgb(255, 243, 235);
   
}    

body{
    background-color: var(--main-color);
    margin-top: 40px;

}

#color-theme{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    /* border: solid blue 4px; */
    background-color: transparent;
    font-family: "Marcellus", sans-serif;
    border: none;

}

button{
    /* display: flex; */
    font-size: 15px;
}

ul{
    list-style-type: none;
    display: inline;
    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
}


.navBar{
    /* border: solid purple 2px; */
    padding: 20px 40px;
    margin: 0 40px;
    font-size: 40px;
    /* float: left; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-decoration: none;   
    width:8rem;
    height: 9rem;
    border-radius: 50%;
    /* background: var(--light-theme-main-color);
    border-color: var(--light-theme-main-color); */
    text-align: center;
    align-items: center;
}

#welcomeStatement{
    /* border: solid lawngreen 3px; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h1{
    padding: 250px 0 20px 0;
    margin: 0;
    font-family: "Marcellus", sans-serif;
    font-size: 57px;
    /* border: solid orange 3px; */
    display: block;
    color: #AF83AB;
}

h2{
    /* border: solid turquoise 3px; */
    display: block;
    font-family: "Marcellus", sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

h3 {
    /* border: solid orange 3px; */
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: "Marcellus", sans-serif;
    margin: 10px;


}

h3 li a{
    /* border: solid purple 3px; */
    text-decoration: none;
    font-family: "Marcellus", sans-serif;
    
}




/************************ABOUT ME PAGE***********************/
/************************************************************/
/* about me page */
#aboutMeSection{
    /* border: solid yellow 10px; */
    margin: 3rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image-carousel about-me-info"
        "looking-forward skills-image";
}


/* carousel section */
    #quadrant-two{
        grid-area: image-carousel;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #aboutMeImgContainer img{
        display: none;
        /* border: solid green 3px; */
        margin: 15px;
    }

    #aboutMeImgContainer img:first-of-type{
        display: block;
               
    }

    .aboutMeImgButton-next {
        /* border: solid purple 3px; */
        margin: 10px;
        font-size: xx-large;
        
    }
    .aboutMeImgButton-prev{
        /* border: solid purple 3px; */
        margin: 10px;
        font-size: xx-large;

    }



/* text about carousel and interests */
 

    #quadrant-one{
        grid-area: about-me-info;
        display: flex;
        align-items: center;  
        /* height: 1000px;
        width: 700px; */
        margin: 60px;
        /* border: solid lightpink 5px; */
        flex-wrap: wrap;
        flex-flow: column;
        padding: 400px 25px;
    
    }

   
    

/* text about future hopes */
    #quadrant-three{
        grid-area: looking-forward;  
        display: flex;
        align-items: center;  
        /* height: 1000px;
        width: 700px; */
        margin: 60px;
        /* border: solid lightpink 5px; */
        flex-wrap: wrap;
        flex-flow: column;
        padding: 40px 25px;
    
    }

/* images about future skills/hopes */

    #quadrant-four{
        grid-area: skills-image;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0px 60px;


    }
    
    /* #skill-image{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
 */


    #aboutMeHeader{
        /* border: navy solid 4px; */
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 40px;   
    }

    .aboutMe-p{
        /* border: solid lightsalmon 4px; */
        font-size: 28px;
    }


/************************PROJECTS PAGE***********************/
/************************************************************/