*{
    
}
:root {
    /* --dark-theme-main-color: rgb(33, 11, 44);

    --light-theme-main-color: rgb(235, 227, 220); */

    --main-color: rgb(255, 243, 235);
   
}    

body{
    background-color: var(--main-color);
    margin-top: 40px;

}

#color-theme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid blue 4px; */
    background-color: transparent;
    font-family: "Marcellus", sans-serif;
    border: none;
    text-align: center;
    padding: 0, 10px, 0, 0;
    margin: auto;
    align-items: center;
    font-size: 17px;
}

ul{
    list-style-type: none;
    /* display: inline; */
    /* border: solid red 2px; */
    display: flex;
    padding: 0px;
    margin: auto;
    /* justify-content: center; */
}


.navBar{
    /* border: solid purple 2px; */
    padding: 20px 0px;
    margin: 0 40px;
    font-size: 40px;
    /* float: left; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-decoration: none;   
    width:8rem;
    height: 9rem;
    border-radius: 50%;
    /* background: var(--light-theme-main-color);
    border-color: var(--light-theme-main-color); */
    text-align: center;
    align-items: center;
    
}


#welcomeStatement{
    /* border: solid lawngreen 3px; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h1{
    padding: 250px 0 20px 0;
    margin: 0;
    font-family: "Marcellus", sans-serif;
    font-size: 57px;
    /* border: solid orange 3px; */
    display: block;
    color: #AF83AB;

}

h2{
    /* border: solid turquoise 3px; */
    display: block;
    font-family: "Marcellus", sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

h3 {
    /* border: solid orange 3px; */
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: "Marcellus", sans-serif;
    margin: 10px;


}

h3 li a{
    /* border: solid purple 3px; */
    text-decoration: none;
    font-family: "Marcellus", sans-serif;
    
}




/************************ABOUT ME PAGE***********************/
/************************************************************/
/* about me page */
#aboutMeSection{
    /* border: solid yellow 10px; */
    margin: 3rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image-carousel about-me-info"
        "looking-forward skills-image";

}


/* carousel section */
    #quadrant-two{
        grid-area: image-carousel;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #aboutMeImgContainer img{
        display: none;
        /* border: solid green 3px; */
        margin: 15px;
    }

    #aboutMeImgContainer img:first-of-type{
        display: block;
               
    }

    .aboutMeImgButton-next {
        /* border: solid purple 3px; */
        margin: 10px;
        font-size: xx-large;
        
    }
    .aboutMeImgButton-prev{
        /* border: solid purple 3px; */
        margin: 10px;
        font-size: xx-large;

    }



/* text about carousel and interests */
 

    #quadrant-one{
        grid-area: about-me-info;
        display: flex;
        align-items: center;  
        /* height: 1000px;
        width: 700px; */
        margin: 60px;
        /* border: solid lightpink 5px; */
        flex-wrap: wrap;
        flex-flow: column;
        padding: 400px 25px;
    
    }

   
    

/* text about future hopes */
    #quadrant-three{
        grid-area: looking-forward;  
        display: flex;
        align-items: center;  
        /* height: 1000px;
        width: 700px; */
        margin: 60px;
        /* border: solid lightpink 5px; */
        flex-wrap: wrap;
        flex-flow: column;
        padding: 40px 25px;
    
    }

/* images about future skills/hopes */

    #quadrant-four{
        grid-area: skills-image;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0px 60px;


    }
    
    /* #skill-image{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
 */


    #aboutMeHeader{
        /* border: navy solid 4px; */
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 40px;
    }

    .aboutMe-p{
        /* border: solid lightsalmon 4px; */
        font-size: 28px;
    }


/************************PROJECTS PAGE***********************/
/************************************************************/

#projectsSection{
    /* border: solid yellow 10px; */
    /* margin: 3rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image-of-space-battle space-battle-description"
        "image-of-hangman hangman-description"; */
}

#here{
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: solid green 10px; */
    /* grid-area: hangman-description; */
    
}

#linkedinButton{
    font-size: 50px;
}

.gitHub{
    width: 50px;
    height: 50px;
}

/************************RESUME PAGE***********************/
/************************************************************/

#resumeImgSection{
    display: flex;
    justify-content: center;
    
}

@media (max-width: 1024px){

}


/************************MEDIA QUERIES***********************/
/************************************************************/
/***********FOR TABLET***********/
@media only screen and (max-width: 768px ){
    #homePageText{
        text-align: center;
        margin-bottom: 250px;
    }

    #quadrant-two{
        width: 500px;
        height: 700px;
        align-items: center;
        justify-content: center;
    }
    #quadrant-one{
        width: 500px;
        height: 200x;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 25px;
    }
    #quadrant-three{
        width: 500px;
        height: 600px;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 30px;
        
    }

    #aboutMeImgContainer{
        width: 460.8px;
        height: 667.92px;
        display: flex;
        justify-content: center;
    }

    .aboutMeImg{
        width: 450px;
        height: 642px;
    }
    #aboutMeGrid{
        display: flex;
        justify-content: center;
    }
    #aboutMeSection{
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
     #p2{
        width: 490px;
        text-align: left;
    }
    
    .navBar{
        width: 716;
        flex-direction: row;
    }
    

   

}




/*********FOR MOBILE************/

@media only screen and (max-width: 425px){

}